MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=agri_supply_chain

JWT_SECRET=your_secret_here

AI_SERVICE_URL=http://localhost:8001

BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CONTRACT_ADDRESS=